* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #D6D4E2;
}

#container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#comentarios{
    width: 70vh;
    display: flex;
    flex-direction: column;
}

#comentario{
    display: flex;
    background: white;
    border-radius: 32px;
    margin: 10px 0;

    padding: 6px 20px;
}



#userInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

    
    font-weight: 600;
    font-size: 1.4rem;
}

#title{
    font-weight: 700;
    font-size: 20px;
    width: 40px;

}

#body{
    margin: 4px 0;
}

.contents{
    flex: 1;
}




